# Compiled Object files, Static and Dynamic lib (Shared Objects)
*.o
*.a
*.so
.fuse*
fx
app
goblog
blog
.DS_Store
\#*
.\#*
*~
*.fuse*
*.rdb
*.json
conf/app.conf
# Folders
blog
notes
_obj
_test
key.pem
cert.pem
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
\#*
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
*.exe
*.test
*.prof
